*{
  margin: 0;
}
.logo{
  background-color: rgba(36, 77, 0, 0.874);
  padding: 10px;
}
.logoi{
  max-width: 15%;
  height: auto;
}

nav{
  float: right;
  position: relative;
  bottom: 1vh;
  margin-right: 10px;
  }
ul{
  display: inline;
}
li{
  display: inline;
  line-height: 70px;
  margin: 5px 5px;
}
a{
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  border-radius: 3px;
  padding: 30px 14px ;
}
a:hover{
  background: #12210f;
  transform: .5s;
}

/* search bar */
.boxContainer{

  margin: 4px 60px;
  width: 90%;
  height: 50px;
  border: 4px solid  rgba(36, 77, 0, 0.874);
  padding: 0px 10px;
  border-radius: 50px;
  vertical-align: center;

}
.elementContainer{
  width: 100%;
  height: 100%;
  vertical-align: middle;

}
.serch{

  border: none;
  height: 100%;
  width: 100%;
  padding:0px 10px;
  border-radius: 50px;
  font-size: 18px;
  font-family: "Nunito";
  
}
.serch:focus{
  outline: none;
}
.meterial-icons{

  font-size: 26px;
  color: #38d515;
}