*{
  margin: 0;
}
.logo{
  background-color: rgba(36, 77, 0, 0.874);
  padding: 10px;
  position: sticky;

}
.logoi{
  max-width: 15%;
  height: auto;

  top: 0;
}

nav{
  float: right;
  position: relative;
  bottom: 1vh;
  margin-right: 10px;
  }
ul{
  display: inline;
}
li{
  display: inline;
  line-height: 70px;
  margin: 5px 5px;
}
.logo nav ul li a{
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  border-radius: 3px;
  padding: 30px 14px ;
}
.logo nav ul li a:hover{
  background: #12210f;
  transform: .5s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

